.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sidebar-nav{
    position: relative;
    ul{
        width: 100%;
        padding-left: 50px;

    }
    li{
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 50px 0;
        list-style: none;
        cursor: pointer;
        &:hover{
            color: var(--primary);
        }
    }
    a{
        text-decoration: none;
        color: #aaaabb;
        cursor: pointer;
        &:hover{
        color: var(--primary);
        }
    }
}
.link-home{
    text-decoration: none;
    color: #aaaabb;
    cursor: pointer;
    &:hover{
    color: var(--primary);
    }
}
.play-icon{
    font-size: 1.8rem;
}