.custom-carousel {
    display: flex;
    max-width: 100%;
    height: 460px;
    background: rgb(238, 235, 235);
    padding-left: 279px;
    border-radius: 20px;
}
.img-carousel {
    position: absolute;
    left: 0;
    width: 100%;
    height: 460px;
    border-radius: 20px;

}
