.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    border-radius: 30px;
    background-color: rgb(216, 229, 225);
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.queue{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    height: 85%;
    width: 80%;
}
.title-queue{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    text-shadow: 5px 10px 40px;
}
.queue-list{
    height: 80%;
    overflow-y: auto;
    p{
        font-size: 1rem;
        cursor: pointer;
        &:hover{
            color: var(--primary);
        }
    }
    &::-webkit-scrollbar{
        width: 10px;
    }
}
.queue-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.track-name{
    width: 75%;
    text-overflow: ellipsis;
}